<div class="form-group">
  <label for="title">Title:</label>
  <input
    value="<%= article.title %>"
    class="form-control"
    type="text"
    name="title"
    id="title"
    placeholder="This is The Post Title"
    required
  />
</div>

<div class="form-group">
  <label for="description">Description:</label>
  <input
    value="<%= article.description %>"
    class="form-control"
    type="text"
    name="description"
    id="description"
    placeholder="This is The Post Description"
    required
  />
</div>

<% if (title === 'New Post' || article.thumbnail == null) { %>
<div class="form-group">
  <label for="thumbnail">Thumbnail:</label>
  <input
    type="file"
    name="thumbnail"
    id="thumbnail"
    class="filepond"
    required
  />
</div>
<% } %>

<div class="form-group">
  <label for="markdown">Content (markdown):</label>
  <textarea
    required
    class="form-control"
    name="markdown"
    id="markdown"
    rows="10"
    placeholder="What is your post content? Write it here with markdown style"
  >
<%= article.markdown %></textarea
  >
  <% if (title === 'New Post') { %>
  <input
    style="height: 0; width: 0; visibility: hidden"
    value="<%= author %>"
    type="text"
    name="author"
    id="author"
    required
  />
  <% } %>
  <br />
</div>
