<div id="main-content">
  <div class="row">
    <div class="col-md-3">
      <div class="card col-12">
        <div class="card-body">
          <h5 class="card-title">Manage posts</h5>
          <p class="card-text">View and manage your posts.</p>
          <a href="./manage-posts" class="btn btn-primary">Manage posts</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card col-12">
        <div class="card-body">
          <h5 class="card-title">Create post</h5>
          <p class="card-text">Post your idea in blog.</p>
          <a href="./new-post" class="btn btn-primary">Create new post</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card col-12">
        <div class="card-body">
          <h5 class="card-title">Create new user</h5>
          <p class="card-text">Add new admin to your blog.</p>
          <a href="./new-user" class="btn btn-primary">Create new admin</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
