<div class="row" style="width: 100%">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <form action="/admin/login" method="POST">
      <%- include('./_register_login_form_fields') %>
      <button class="btn btn-primary col-12">Login</button>
    </form>
    <div class="col-md-3"></div>
  </div>
</div>
