<form action="/blog/posts" method="POST">
  <%- include('./_post_form_fields.ejs') %>

  <div class="row">
    <div class="col-4">
      <a href="/blog/admin/dashboard" class="btn col-12 btn-danger">Cancel</a>
    </div>
    <div class="col-4">
      <button type="reset" class="btn col-12 btn-warning">Reset</button>
    </div>
    <div class="col-4">
      <button type="submit" class="btn col-12 btn-primary">Save</button>
    </div>
  </div>
</form>
